<!DOCTYPE html>
<html lang="it" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Quality Marks</title>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="../scripts/a.js"></script>
    </head>
    <body>
        <button type="button" onclick="retrievalData()">Cliccami</button>
        <div>
            <p id="x"></p>
        </div>
    </body>
</html>