<!DOCTYPE html>
<html lang="it" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Quality Marks</title>  
    </head>
    <body>
        Ok
    </body>
</html>