<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
        <title>Quality Marks</title>
        <style>
            #loader {
                transition: all 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
                position: fixed;
                height: 100vh;
                width: 100%;
                background: #fff;
                z-index: 90000;
            }
            #loader.fadeOut {
                opacity: 0;
                visibility: hidden;
            }
            .spinner {
                width: 40px;
                height: 40px;
                position: absolute;
                top: calc(50% - 20px);
                left: calc(50% - 20px);
                background-color: #333;
                border-radius: 100%;
                -webkit-animation: sk-scaleout 1s infinite ease-in-out;
                animation: sk-scaleout 1s infinite ease-in-out;
            }
            @-webkit-keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1);
                    opacity: 0;
                }
            }
            @keyframes sk-scaleout {
                0% {
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                100% {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 0;
                }
            }
        </style>
        <link href="../styles/template/style.css" rel="stylesheet" />
        <link href="../images/logo.png" rel="shortcut icon" />
    </head>
    <body class="app">
        <div id="loader"><div class="spinner"></div></div>
        <script>
            window.addEventListener("load", function load() {
                const loader = document.getElementById("loader");
                setTimeout(function () {
                    loader.classList.add("fadeOut");
                }, 300);
            });
        </script>
        <div>
            <div class="sidebar">
                <div class="sidebar-inner">
                    <div class="sidebar-logo">
                        <div class="peers ai-c fxw-nw">
                            <div class="peer peer-greed">
                                <a class="sidebar-link td-n" href="/QualityMarks/ricercaProdottoAlimentare">
                                    <div class="peers ai-c fxw-nw">
                                        <div class="peer" style="margin: 30px auto 30px auto;">
                                            <div class="logo"><img src="../images/logo.png" width="100%"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="peer">
                                <div class="mobile-toggle sidebar-toggle">
                                    <a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="sidebar-menu scrollable pos-r">
                        <li class="nav-item">
                            <a class="sidebar-link" href="/QualityMarks/ricercaProdottoAlimentare">
                                <span class="icon-holder"><i class="c-blue-500 ti-search"></i> </span><span class="title">Ricerca Prodotto Alimentare</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link" href="#">
                                <span class="icon-holder"><i class="c-brown-500 ti-medall"></i> </span><span class="title">Ricerca per Marchio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="sidebar-link" href="/QualityMarks/ricercaEventi">
                                <span class="icon-holder"><i class="c-orange-500 ti-map-alt"></i> </span><span class="title">Ricerca Eventi</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="page-container">
                <main class="main-content bgc-grey-100" style="padding-top: 0px;">
                    <div id="mainContent">
                        <div class="row gap-20 pos-r">
                            <div class="col-md-6"></div>
                            <div class="col-12">
                                <div class="bgc-white p-20 bd">
                                    <h4 class="c-grey-900">Ricerca per Marchio</h4>
                                    <div class="mT-30">
                                        <form id="form">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputMarchio">Tipo Marchio</label>
                                                    <select id="inputMarchio" class="form-control">
                                                        <option selected="selected" value="">Seleziona...</option>
                                                        <option value="DOC">DOC</option>
                                                        <option value="DOCG">DOCG</option>
                                                        <option value="DOP">DOP</option>
                                                        <option value="IGP">IGP</option>
                                                        <option value="STG">STG</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputCategoria">Categoria di appartenza</label>
                                                    <select id="inputCategoria" class="form-control">
                                                        <option selected="selected" value="">Seleziona...</option>
                                                        <option value="Aceto">Aceto</option>
                                                        <option value="Birra">Birra</option>
                                                        <option value="Carne fresca (e frattaglie)">Carne fresca (e frattaglie)</option>
                                                        <option value="Cioccolato e prodotti derivati">Cioccolato e prodotti derivati</option>
                                                        <option value="Formaggio">Formaggio</option>
                                                        <option value="Lana">Lana</option>
                                                        <option value="Miele">Miele</option>
                                                        <option value="Olio">Olio</option>
                                                        <option value="Olio essenziale">Olio essenziale</option>
                                                        <option value="Ortofrutticolo e cereale, fresco o trasformato">Ortofrutticolo e cereale, fresco o trasformato</option>
                                                        <option value="Pasta">Pasta</option>
                                                        <option value="Piatto pronto">Piatto pronto</option>
                                                        <option value="Prodotto a base di carne (riscaldato, salato, affumicato, ecc)">Prodotto a base di carne (riscaldato, salato, affumicato, ecc)</option>
                                                        <option value="Prodotto di Mare (pesce, mollusco, crostaceo fresco e prodotti derivati)">Prodotto di Mare (pesce, mollusco, crostaceo fresco e prodotti derivati)</option>
                                                        <option value="Prodotto di panetteria">Prodotto di panetteria</option>
                                                        <option value="Prodotto di pasticceria">Prodotto di pasticceria</option>
                                                        <option value="Ricotta">Ricotta</option>
                                                        <option value="Sale">Sale</option>
                                                        <option value="Vino">Vino</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="inputRegione">Regione</label>
                                                    <select id="inputRegione" class="form-control">
                                                        <option selected="selected" value="">Seleziona...</option>
                                                        <option value="Abruzzo">Abruzzo</option>
                                                        <option value="Basilicata">Basilicata</option>
                                                        <option value="Calabria">Calabria</option>
                                                        <option value="Campania">Campania</option>
                                                        <option value="Emilia-Romagna">Emilia-Romagna</option>
                                                        <option value="Friuli-Venezia Giulia">Friuli-Venezia Giulia</option>
                                                        <option value="Lazio">Lazio</option>
                                                        <option value="Liguria">Liguria</option>
                                                        <option value="Lombardia">Lombardia</option>
                                                        <option value="Marche">Marche</option>
                                                        <option value="Molise">Molise</option>
                                                        <option value="Piemonte">Piemonte</option>
                                                        <option value="Puglia">Puglia</option>
                                                        <option value="Sardegna">Sardegna</option>
                                                        <option value="Sicilia">Sicilia</option>
                                                        <option value="Toscana">Toscana</option>
                                                        <option value="Trentino-Alto Adige/Südtirol">Trentino-Alto Adige</option>
                                                        <option value="Umbria">Umbria</option>
                                                        <option value="Valle d'Aosta/Vallée d'Aoste">Valle d'Aosta</option>
                                                        <option value="Veneto">Veneto</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="inputNazione">Nazione</label>
                                                    <select id="inputNazione" class="form-control">
                                                        <option selected="selected" value="">Seleziona...</option>
                                                        <option value="Italia">Italia</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <label for="inputOrdine">Ordina per</label>
                                                    <select id="inputOrdine" class="form-control">
                                                        <option selected="selected" value="nomeProdotto">Nome prodotto</option>
                                                        <option value="nomeMarchio">Tipo marchio</option>
                                                        <option value="tipologia">Categoria</option>
                                                        <option value="nomeRegione">Regione</option>
                                                        <option value="nomeNazione">Nazione</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-1">
                                                    <label for="inputOrdineModo">&nbsp;</label>
                                                    <select id="inputOrdineModo" class="form-control">
                                                        <option selected="selected" value="ASC">Ascendente</option>
                                                        <option value="DESC">Discendente</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary" onclick="query()">Cerca</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" id="res">
                                <!-- Risultati -->
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
                    <span>Copyright © 2019 Designed by <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
                </footer>
            </div>
        </div>
        <script type="text/javascript" src="../scripts/template/vendor.js"></script>
        <script type="text/javascript" src="../scripts/template/bundle.js"></script>
        <script type="text/javascript" src="../scripts/template/jquery.js"></script>
        <script type="text/javascript" src="../scripts/ricercaPerMarchio.js"></script>
    </body>
</html>
